* { box-sizing:border-box; }
.container 		{ 
  font-family:'Roboto';
  width:600px; 
  margin:0px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
 form{
   button{
     padding: 15px 15px ;
     width: 100%;
     border-radius: 5px;
     outline: none;
     background-color: #333;
     color: white;
     font-size: 1.2em;
     border: none;
   }
  .input_group{ 
    position:relative; 
    margin-bottom:35px; 
    width: 100%;
    input{
      font-size:18px;
      padding:10px 10px 10px 5px;
      display:block;
      width:100%;
      border:none;
      border-bottom:1px solid #333;
      &:focus{ outline:none; }
      &:focus ~ label, &:valid ~ label 		{
        top:-20px;
        font-size:14px;
        color:#333;
      }
    }
    label{
      color:#333; 
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:10px;
      transition:0.2s ease all; 
    }
  }
 }
  
}